<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlelocation">

<!-- 可以刪掉權限由引入的project必須引入-->

    <application
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">


        <service
            android:name=".FetchAddressIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="${action_location}"/>
                <category android:name="${glocationlib_package_name}"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>